* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main{
  text-align: center;
  margin-bottom: 40px;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  color: #222;
  padding: 40px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
}
button:hover {
  background-color: #0056b3;
}
main {
  flex: 1;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  color: bisque;
  background-color: #222;
}